<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <link rel='shortcut icon' type='image/x-icon' href='images/favicon.png?v=4' />
  <title>Oni</title>
</head>
<body>
  <div id='root' class='root'>
  </div>
</body>
</html>