html,
body {
    margin: 0px;
    height: 100%;
}

html {
    min-width: 100%;
}

.root {
    height: 100%;
}

.app {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    z-index: 0;
}

@media only screen and (min-width: 320px),
only screen and (min-device-width: 374px) and (max-device-width: 376px) {
    .app {
        background-image: url("/images/cite_680.png");
        background-size: cover;
    }
    .central-panel {
        top: 25%;
    }
    .logo {
        height: 18vh;
    }
    .message div:first-child {
        font-size: 2.5vh;
    }
    .message div {
        font-size: 2.2vh;
    }
    .phone {
        font-size: 2.3vh;
    }
    .social_network {
        width: 2rem;
        padding: 5px 10px;
    }
}

@media only screen and (min-width: 800px) {
    .app {
        background-image: url("/images/cite_1920_v2.png");
        background-size: contain;
    }
    .central-panel {
        top: 27%;
    }
    .logo {
        height: 18vh;
    }
    .message div:first-child {
        font-size: 2.5vh;
    }
    .message div {
        font-size: 2.2vh;
    }
    .phone {
        font-size: 2.4vh;
    }
    .social_network {
        width: 30px;
        padding: 0.4vw;
    }
}

.central-panel {
    background: rgba(250, 233, 167, 0.7);
    width: 100%;
    position: absolute;
    z-index: 2;
    .logo {
        background-image: url("/images/logo.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        display: block;
        margin: 0 auto;
        margin-top: 3vh;
    }
    .message div:first-child {
        font-family: 'Museo Sans Cyrl 500';
        display: block;
        text-align: center;
        margin: 0 auto;
    }
    .message div {
        font-family: 'Museo Sans Cyrl 100';
        font-weight: bold;
        display: block;
        text-align: center;
        margin: 0 auto;
    }
    .phone {
        font-family: 'Museo Sans Cyrl 300';
        font-weight: bolder;
        display: block;
        text-align: center;
        margin: 0 auto;
        white-space: nowrap;
        padding-bottom: 1vh;
        padding-top: 1vh;
    }
    .socials a {
        text-decoration: none;
    }
    .social_network {
        display: inline-block;
    }
}

.nav-bar {
    ul {
        overflow: hidden;
        list-style-type: none;
        font-family: Segoe UI Light;
        font-size: 18px;
        font-weight: normal;
        text-align: left;
        color: #333333;
        margin-bottom: 0px;
    }
    ul li {
        float: left;
        margin: 10px;
        margin-bottom: 0px;
    }
    ul li a {
        display: inline-block;
        font-family: Segoe UI;
        font-size: 18px;
        font-weight: 300;
        color: #333333;
    }
    ul li a:focus,
    .active {
        width: auto;
        border-bottom: 4px solid #1979ca;
        height: 30px;
        font-family: Segoe UI;
        font-size: 18px !important;
        font-weight: normal !important;
        color: #333333 !important;
    }
}