html,
body {
    margin: 0px;
    min-width: 100%;
    height: 100%;
}

.background {
    background-image: url("../images/images_large/about/hire.jpg");
    background-size: cover;
}

.root {
    height: 100%;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
}

.app {
    height: 100%;
    min-width: 1000px;
    overflow-x: auto;
    min-height: 100%;
    margin-bottom: -142px;
}

.invisible {
    display: none;
}

.busy-container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 9999;
    background-color: #e6e6e6;
    opacity: 0.8;
    .busy {
        position: absolute;
        left: 50%;
        top: 44%;
        margin-left: -18px;
    }
}

// @media only screen and (min-width: 320px),
// only screen and (min-device-width: 374px) and (max-device-width: 376px) {
//     .main-body img {
//         // src: url("/images/cite_680.png");
//         // background-size: cover;
//     }
//     .logo {
//         height: 18vh;
//     }
// }
.nav-bar {
    position: relative;
    max-height: 200px;
    ul {
        overflow: hidden;
        list-style-type: none;
        display: inline-block;
        position: absolute;
        right: 0;
        top: 20px;
    }
    ul li {
        float: left;
        margin: 0px 20px;
        position: relative;
    }
    ul li a {
        display: inline-block;
        font-family: 'Museo Sans Cyrl 500';
        font-size: 16px;
        font-weight: 300;
        line-height: 29px;
        color: #333333;
        text-decoration: none;
    }
    ul li a:focus,
    .active {
        font-family: 'Museo Sans Cyrl 900';
    }
    li:not(:last-child) a:before {
        content: '';
        width: 15px;
        border-bottom: solid 1px #333333;
        position: absolute;
        right: -28px;
        top: 50%;
        z-index: 1;
    }
    .logo {
        max-width: 100%;
        height: auto;
        display: inline-block;
        margin: 26px 30px 0px 30px;
        height: 150px;
    }
    .logo-small {
        height: 70px;
        margin: 5px 10px 5px 20px;
    }
}

.socials {
    position: absolute;
    right: 10px;
    bottom: 10px;
    a {
        width: 2rem;
        padding: 5px 10px;
        img {
            height: 27px;
        }
    }
}

.main-body {
    position: absolute;
    left: 0;
    bottom: 0;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    max-height: calc(100% - 175px);
    width: 100%;
    height: 100%;
    overflow: hidden;
    .carousel-container {
        .cake-container {
            position: relative;
            height: 100%;
            width: 100%;
            background-color: white;
            .cake {
                max-width: 100%;
                height: auto;
                position: absolute;
                top: -75px;
                left: 0;
                width: 75%;
            }
        }
    }
}

.macarons-container {
    height: 100%;
    font-family: 'Museo Sans Cyrl 500'; // position: relative;
    overflow-x: hidden;
    position: relative;
    .macarons-header {
        width: 100%;
        height: 450px;
        background-color: rgba(132,50,155, 0.85);
        padding-top: 86px;
        padding-left: 77px;
        margin-bottom: 70px;
        .header-main {
            color: #ffffff;
            font-family: 'Museo Sans Cyrl 900';
            font-size: 40px;
        }
        .header-desc {
            color: #ffffff;
            font-family: 'Museo Sans Cyrl 100';
            font-size: 22px;
        }
        .header-body {
            color: #ffffff;
            font-family: 'Museo Sans Cyrl 500';
            font-size: 16px;
            padding-top: 20px;
        }
        .macarons-photo {
            position: relative;
            margin-left: 20px;
            img {
                width: 90%;
                height: auto;
                position: absolute;
                z-index: 2;
                left: -34px;
                top: -23px;
            }
        }
        .macarons-prices {
            .macarons-large {
                position: relative;
                .price-large {
                    position: absolute;
                    top: 90px;
                    left: 140px;
                }
                .large-image {
                    width: 540px;
                    height: auto;
                    position: absolute;
                    z-index: 2;
                    left: 20px;
                    top: -24px;
                }
            }
            .macarons-small {
                position: relative;
                .price-small {
                    position: absolute;
                    top: -21px;
                    left: 257px;
                }
                .small-image {
                    width: 269px;
                    height: 188px;
                    position: absolute;
                    bottom: -77px;
                    z-index: 3;
                    left: 239px;
                    top: 37px;
                }
            }
            .price-small,
            .price-large {
                color: #ffffff;
                .large {
                    font-size: 36px;
                    font-family: 'Museo Sans Cyrl 500';
                }
                .small {
                    font-size: 20px;
                    font-family: 'Museo Sans Cyrl 500';
                }
                .qty {
                    font-size: 14px;
                    font-family: 'Museo Sans Cyrl 500';
                    margin-top: -10px;
                }
            }
        }
    }
    .macarons-body {
        display: table;
        height: 100%;
        margin: 50px;
        .macaron-desc-container {
            margin-top: 1.3vh;
        }
        .macaron-image-container {
            text-align: center;
        }
        img {
            max-width: 100%;
            height: auto;
            width: 80%;
        }
        .tastes {
            color: #535353;
            font-family: 'Museo Sans Cyrl 100';
            font-size: 36px;
            margin-bottom: 50px;
        }
        .taste-name {
            color: #555555;
            font-family: 'Museo Sans Cyrl 900';
            font-size: 32px;
        }
        .taste-desc {
            color: #555555;
            font-family: 'Museo Sans Cyrl 100';
            font-size: 17px;
            margin-top: -5px;
        }
        .taste-body {
            color: #555555;
            font-family: 'Museo Sans Cyrl 500';
            font-size: 12px;
            line-height: 16px;
        }
    }
    .macarons-footer {
        position: relative;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 80px;
        background-color: rgba(255,216,92,0.85);
        img {
            width: 67px;
            height: 52px;
            position: absolute;
            right: 10px;
            bottom: 15px;
        }
    }
}

.cakes-container {
    height: 100%;
    font-family: 'Museo Sans Cyrl 500'; // position: relative;
    overflow-x: hidden;
    .cakes-header {
        width: 100%;
        height: 450px;
        background-color: rgba(63,32,33,0.85);
        padding-top: 86px;
        padding-left: 77px;
        margin-bottom: 70px;
        .header-main {
            color: #ffffff;
            font-family: 'Museo Sans Cyrl 900';
            font-size: 40px;
        }
        .header-desc {
            color: #ffffff;
            font-family: 'Museo Sans Cyrl 100';
            font-size: 22px;
        }
        .header-body {
            color: #ffffff;
            font-family: 'Museo Sans Cyrl 500';
            font-size: 16px;
            padding-top: 20px;
        }
        .cakes-photo {
            position: relative;
            margin-left: 20px;
            img {
                width: 90%;
                height: auto;
                position: absolute;
                z-index: 2;
                left: -34px;
                top: -23px;
            }
        }
    }
    .cakes-body {
        display: table;
        height: 100%;
        margin: 50px 0px;
        .tastes {
            color: #535353;
            font-family: 'Museo Sans Cyrl 100';
            font-size: 40px;
            margin-bottom: 5vh;
            margin-left: 5vh;
        }
        .cake-single {
            .cake-small-image-wrapper {
                img {
                    max-width: 100%;
                    height: auto;
                }
            }
            .cake-large-image-wrapper {
                img {
                    max-width: 100%;
                    height: auto;
                }
            }
            .taste-name {
                color: #555555;
                font-family: 'Museo Sans Cyrl 900';
                font-size: 34px;
                line-height: 40px;
            }
            .taste-desc {
                color: #555555;
                font-family: 'Museo Sans Cyrl 100';
                font-size: 22px;
                line-height: 26px;
            }
            .taste-body {
                color: #555555;
                font-family: 'Museo Sans Cyrl 500';
                margin-top: 18px;
                font-size: 15px;
                line-height: 18px;
                padding-bottom: 14px;
            }
            .cake-info {
                img {
                    width: 12px;
                    height: 12px;
                    opacity: 0.5;
                    margin-right: 5px;
                }
                span {
                    font-family: 'Museo Sans Cyrl 500';
                    font-size: 13px;
                    font-weight: 500;
                    color: #8a8a8a;
                }
                .price-small {
                    font-family: 'Museo Sans Cyrl 500';
                    font-weight: 500;
                    color: #ce97bd;
                    vertical-align: bottom;
                    height: 65px;
                    position: relative;
                    span,
                    p {
                        font-size: 4vh;
                        color: #ce97bd;
                    }
                    p {
                        position: absolute;
                        top: 15px;
                    }
                }
                .price-large {
                    font-family: 'Museo Sans Cyrl 500';
                    font-weight: 500;
                    color: #ce97bd;
                    vertical-align: bottom;
                    height: 65px;
                    position: relative;
                    span {
                        font-size: 6vh;
                        color: #ce97bd;
                    }
                    p {
                        font-size: 4vh;
                        color: #ce97bd;
                        position: absolute;
                    }
                }
                .info {
                    height: 16px;
                }
            }
        }
    }
    .cakes-footer {
        position: relative;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 80px;
        background-color: #ffd85c;
        img {
            width: 67px;
            height: 52px;
            position: absolute;
            right: 10px;
            bottom: 15px;
        }
    }
}

.contacts-container {
    height: 100%;
    font-family: 'Museo Sans Cyrl 500';
    overflow-x: hidden;
    .contacts-header {
        width: 100%;
        height: 450px;
        background-color: #D0006F;
        padding-top: 86px;
        padding-left: 77px;
        margin-bottom: 70px;
        .header-main {
            color: #000000;
            font-family: 'Museo Sans Cyrl 900';
            font-size: 40px;
        }
        .header-desc {
            color: #000000;
            font-family: 'Museo Sans Cyrl 100';
            font-size: 22px;
        }
        .header-body {
            color: #000000;
            font-family: 'Museo Sans Cyrl 500';
            font-size: 16px;
            padding-top: 20px;
            padding-right: 50px;
        }
        .contacts-photo {
            position: relative;
            img {
                width: 450px;
                height: auto;
                position: absolute;
                z-index: 2;
                left: -34px;
                top: -17px;
            }
        }
    }
    .contacts-body {
        display: table;
        .contacts-body-text {
            text-align: center;
            color: #000000;
            font-family: 'Museo Sans Cyrl 500';
            font-size: 16px;
            padding-top: 20px;
        }
        .contacts-body-map {
            height: 400px;
            text-align: center;
            width: 600px;
            margin: 0 auto;
            padding: 10px;
        }
    }
    .contacts-footer {
        position: relative;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 80px;
        background-color: #ffd85c;
        img {
            width: 67px;
            height: 52px;
            position: absolute;
            right: 10px;
            bottom: 15px;
        }
    }
}

.carousel .control-dots {
    top: 530px;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
    /* ie 6/7 */
}

// @media only screen and (min-width: 320px),
// only screen and (min-device-width: 374px) and (max-device-width: 376px) {
@media screen and (min-device-width: 750px) and (max-device-width: 1334px) and (min-resolution: 326dpi),
only screen and (max-width: 800px) {
    .app {
        height: 100%;
        max-width: 800px;
        min-width: 0;
        overflow-x: hidden;
    }
    .cakes-container {
        .cakes-header {
            padding-top: 70px;
            padding-left: 25px;
            margin-bottom: 70px;
            height: auto;
            padding-bottom: 30px;
            .header-main {
                font-size: 20px;
            }
            .header-desc {
                font-size: 14px;
            }
            .header-body {
                font-size: 12px;
                line-height: 19px;
                padding-top: 20px;
            }
            .cakes-photo {
                display: none;
            }
        }
        .cakes-body {
            .tastes {
                font-size: 24px;
            }
            .cake-single {
                .cake-small-image-wrapper {
                    img {
                        max-width: 100%;
                        height: auto;
                    }
                }
                .cake-large-image-wrapper {
                    img {
                        max-width: 100%;
                        height: auto;
                    }
                }
                .taste-name {
                    font-size: 24px;
                }
                .taste-desc {
                    font-size: 16px;
                }
                .taste-body {
                    margin-top: 12px;
                    font-size: 12px;
                    line-height: 19px;
                    padding-bottom: 14px;
                }
            }
        }
    }
    .macarons-container {
        .macarons-header {
            padding-top: 70px;
            padding-left: 25px;
            margin-bottom: 70px;
            height: auto;
            .header-main {
                font-size: 20px;
            }
            .header-desc {
                font-size: 14px;
            }
            .header-body {
                font-size: 12px;
                padding-top: 20px;
            }
            .macarons-photo {
                position: relative;
                img {
                    width: 90%;
                    height: auto;
                    position: absolute;
                    z-index: 2;
                    left: -34px;
                    top: -23px;
                }
            }
            .macarons-prices {
                height: 100%;
                width: 100%;
                display: inline-block;
                position: initial;
                .macarons-large {
                    width: 100%;
                    display: inline-block;
                    .large-image {
                        width: 90%;
                        height: auto;
                        position: initial;
                        left: 20px;
                        top: 376px;
                        max-height: 400px;
                    }
                    .price-large {
                        position: initial;
                        top: 330px;
                        left: 20px;
                    }
                }
                .macarons-small {
                    width: 100%;
                    display: inline-block;
                    .small-image {
                        width: 90%;
                        height: auto;
                        position: initial;
                        left: 20px;
                        top: 55px;
                        max-height: 400px;
                    }
                    .price-small {
                        position: initial;
                        top: 10px;
                        left: 20px;
                    }
                }
            }
        }
        .macarons-body {
            .macaron-image-container {
                margin: 10px 0px;
            }
            img {
                width: 70%;
            }
            .tastes {
                font-size: 24px;
                margin-bottom: 50px;
            }
            .taste-name {
                font-size: 24px;
            }
            .taste-desc {
                font-size: 14px;
                margin-top: -5px;
            }
            .taste-body {
                font-size: 12px;
                line-height: 16px;
            }
        }
    }
    .contacts-container {
        .contacts-header {
            height: auto;
            padding-bottom: 30px;
            padding-top: 40px;
            padding-left: 25px;
            .header-main {
                font-size: 20px;
            }
            .header-desc {
                font-size: 14px;
            }
            .header-body {
                font-size: 12px;
            }
            .contacts-photo {
                display: none;
            }
        }
        .contacts-body {
            .contacts-body-map {
                height: 400px;
                text-align: center;
                width: 90%;
                margin: 0 auto;
                padding: 10px;
            }
        }
    }
    .nav-bar {
        max-height: 200px;
        .logo,
        .logo-small {
            height: 70px;
            margin: 5px 10px 10px 20px;
        }
    }
}

.bm-burger-button {
    .bm-icon {
        width: 20px !important;
        height: 20px !important;
        margin-bottom: 3px;
    }
}

.bm-burger-button::before {
    content: "МЕНЮ";
    font-family: 'Museo Sans Cyrl 100';
    font-size: 14px;
    color: #848484;
    padding-right: 10px;
}

.bm-burger-button {
    position: absolute;
    right: 10px;
    top: 28px;
}

.bm-burger-bars {
    background: #373a47;
}

.bm-cross-button {
    height: 24px;
    width: 24px;
}

.bm-menu-wrap {
    top: 0px;
    z-index: 10 !important;
}

.bm-menu {
    background: #ffd85c;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
    padding-top: 100px;
}

.bm-morph-shape {
    fill: #373a47;
}

.bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
    text-align: center;
    span>a {
        color: #000000;
        font-family: 'Museo Sans Cyrl 500';
        font-size: 17px;
        line-height: 30px;
    }
}

.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
    top: 0px;
}

.bm-socials {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 20px;
    opacity: 0.4;
    a {
        width: 2rem;
        padding: 5px 10px;
        img {
            height: 27px;
        }
    }
}