html,
body {
    margin: 0;
    // font-size: 150%; // 12px
}

@media screen and (min-width: 1224px) {
    // html {
        // font-size: 100%; // 16px
    // }
}

.stretch {
    display: inline-block;
    -webkit-transform: scale(1.4, 1);
    /* Safari and Chrome */
    -moz-transform: scale(1.4, 1);
    /* Firefox */
    -ms-transform: scale(1.4, 1);
    /* IE 9 */
    -o-transform: scale(1.4, 1);
    /* Opera */
    transform: scale(1.4, 1);
    /* W3C */
}

[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
    cursor: pointer;
    outline: none;
}

.invisible {
    display: none;
}

.busy-container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 9999;
    background-color: #e6e6e6;
    opacity: 0.8;

    .busy {
        position: absolute;
        left: 50%;
        top: 44%;
        margin-left: -18px;
    }
}

.bm-menu-wrap {
    left: 0;
}