body {
    font-family: 'Segoe UI';
}

.container {
    height: 100%;
    width: 100%;
    font-size: 40px;
    font-weight: 300;
    height: 200px;
}

.avatar {
    background-color: rgb(114, 195, 233);
    color: rgb(29, 83, 163);
}

.cardContainer {
    margin: 16px;
}

.cardRoot {
    padding: 16px 0 16px 0 !important;
}

.newOrderButtonsWrapper {
    display: flex;
    flex-direction: row;
}

.newOrderButton {
    padding: 5px;
    width: 100%;
    height: 100%;
}