.appbar_root {
    flex-grow: 1;
    .appbar_grow {
        flex-grow: 1;
    }
    .appbar_menuButton {
        width: 56px;
    }
    .appbar-percent-profile-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}