.appbar_root {
    flex-grow: 1;
    .appbar_grow {
        flex-grow: 1;
    }
    .appbar_menuButton {
        margin-left: -12;
        margin-right: 20;
    }
    .appbar-percent-profile-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}